/* ================= LOADER ================== */

.pixPolish-loader-inner {
    background: #eee;
}

.pixPolish-loader {
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-top-color: #6658ea;
}

/* ================= GENERAL STYLES ================== */

* {
    scrollbar-color: #aaa #fff;
}

*::-webkit-scrollbar-track {
    background: #303030;
}

*::-webkit-scrollbar-thumb {
    background-color: #999;
    border: 4px solid #303030;
}

body {
    background: #eee;
    color: #494949;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #111;
}

.text-danger {
    color: #F44336 !important;
}

.text-success {
    color: #009688 !important;
}

.text-warning {
    color: #FFC107 !important;
}

.text-white {
    color: #111 !important;
}

#pixPolish-icon-panel hr {
    border-bottom: 1px dashed #bcbcbc;
}

.notice {
    color: #494949;
    background: rgba(0, 0, 0, 0.1);
    border-left: 4px solid #6658ea;
}

.notice.notice-danger {
    border-left: 4px solid #F44336;
}

.notice.notice-warning {
    border-left: 4px solid #FFC107;
}

.notice.notice-success {
    border-left: 4px solid #009688;
}

.pixPolish-img-loader {
    border: 3px solid rgba(0, 0, 0, 0.1);
    border-top-color: #6658ea;
}


/* ================= PAGE STRUCTURE ================== */

#pixPolish-toggle-left,
#pixPolish-toggle-right {
    background-color: #fff;
    border: 1px solid #bcbcbc;
}

#pixPolish-toggle-right.closed,
#pixPolish-toggle-left.closed {
    background-color: #fff;
}

#pixPolish-toggle-left .material-icons,
#pixPolish-toggle-right .material-icons {
    color: #111;
}

#pixPolish-toggle-left:hover .material-icons,
#pixPolish-toggle-right:hover .material-icons {
    color: #6658ea;
}

/* ================= TOP BAR ================== */

#pixPolish-top-bar {
    background: #eee;
    border-bottom: 1px solid #bcbcbc;
}

.pixPolish-top-bar-menu .pixPolish-btn-simple {
    color:#111;
}
  
.pixPolish-top-bar-menu .pixPolish-btn-simple:disabled {
    color:#494949
}

/* ================= DROPDOWN ================== */

ul.pixPolish-dropdown {
    background: #fff;
    border: 1px solid #bcbcbc;
}

ul.pixPolish-dropdown li {
    border-bottom: 1px solid #bcbcbc;
}

ul.pixPolish-dropdown li a {
    color: #494949;
}

ul.pixPolish-dropdown li a:hover {
    color: #111;
}

ul.pixPolish-dropdown li a .material-icons {
    color: #6658ea;
}

/* ================= CONTENT BAR ================== */

.pixPolish-content-bar {
    background: #fff;
    border: 1px solid #bcbcbc;
}

.pixPolish-content-bar .pixPolish-img-size {
    border-right: 1px solid #bcbcbc;
}

.pixPolish-content-bar .pixPolish-counter .pixPolish-btn,
.pixPolish-content-bar .pixPolish-counter .pixPolish-btn:hover,
.pixPolish-content-bar .pixPolish-counter .pixPolish-btn:focus {
    background: #fff;
    color: #494949;
}

.pixPolish-content-bar .pixPolish-counter .pixPolish-btn:hover {
    color: #111;
}

.pixPolish-counter .pixPolish-btn:disabled {
    color: rgba(0, 0, 0, 0.3);
}

.pixPolish-content-bar .pixPolish-counter:after {
    background: #eee;
}

#pixPolish-img-drag {
    border-right: 1px solid #bcbcbc;
    background: #fff;
    color: #494949;
}

#pixPolish-img-drag:hover,
#pixPolish-img-drag.active {
    background: #eee;
    color: #111;
}

/* ================= ICON MENU ================== */

#pixPolish-icon-menu {
    background: #eee;
}

#pixPolish-icon-menu.closed {
    border-right: 1px solid #bcbcbc;
}

button.pixPolish-icon-menu-btn {
    color: #494949;
    background: #eee;
}

button.pixPolish-icon-menu-btn.active,
button.pixPolish-icon-menu-btn:hover {
    color: #000;
    background: #fff;
}

#pixPolish-icon-panel {
    border-right: 1px solid #bcbcbc;
    background: #fff;
}

/* ================= CONTENT ================== */

#pixPolish-content {
    background-color: #f9f9f9;
}

#pixPolish-canvas-wrap {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2' height='2'%3E%3Cpath d='M1,0H0V1H2V2H1' fill='%23FFFFFF'/%3E%3C/svg%3E") left top/contain #ccc;
    background-size: 15px 15px;
}

#pixPolish-canvas-loader {
    background: #fff;
}

/* ================= LAYERS ================== */

#pixPolish-right-col {
    border-left: 1px solid #bcbcbc;
    background: #fff;
}

.pixPolish-layers-title {
    background: #eee;
}

#pixPolish-layers li {
    color: #494949;
    border-bottom: 1px solid #bcbcbc;
    background: #fff;
}

#pixPolish-layers li:first-child {
    border-top: 1px solid #bcbcbc;
}

#pixPolish-layers li:hover {
    color: #111;
}

#pixPolish-layers li.active {
    color: #111;
    background: #eee;
}

#pixPolish-layers li .layer-icons {
    background: #eee;
}

#pixPolish-layers li .layer-name {
    color:#494949;
}

#pixPolish-layers li .layer-name:focus {
    color:#111;
}

#pixPolish-layers li .layer-icons .material-icons {
    color: #111;
}

#pixPolish-layers>li>.material-icons {
    color: #6658ea;
}

#pixPolish-layers>li>.material-icons.layer-settings {
    background: #eee;
    color: #494949;
}

#pixPolish-layers>li>.material-icons.layer-settings:hover,
#pixPolish-layers>li>.material-icons.layer-settings.active {
    color: #111;
}

#pixPolish-layers li .layer-icons .layer-visible,
#pixPolish-layers li .layer-icons .layer-unlocked {
    color: #009688;
}

#pixPolish-layers li .layer-icons .layer-hidden,
#pixPolish-layers li .layer-icons .layer-locked {
    color: #FFC107;
}

#pixPolish-no-layer a {
    color: #6658ea;
}

#pixPolish-layer-delete-wrap {
    border-top: 1px dashed #bcbcbc;
}

/* ================= GRID ================== */

.pixPolish-frames-grid .grid-item,
.pixPolish-grid .grid-item {
    background: #eee;
}

.pixPolish-frame,
.pixPolish-element {
    border: 1px solid #eee;
    background: #eee;
}

.type-customSVG>a:before {
    color: #4CAF50;
}

.pixPolish-element.light {
    background: #eee;
}

.pixPolish-element.dark {
    background: #6658ea;
  border-color: #6658ea;
}

.pixPolish-frame:hover,
.pixPolish-element:hover {
    border: 1px solid #6658ea;
}

.pixPolish-element.dark:hover {
  border-color: #1B1642;
}

.template-favorite,
.pixPolish-frame .frame-favorite,
.pixPolish-element .element-favorite {
    background: #6658ea;
}

.pixPolish-element.dark .element-favorite {
  background: #1B1642;
}


.pixPolish-frames-grid .pixPolish-frame {
    border: 3px solid #eee;
}

.pixPolish-frames-grid .pixPolish-frame:hover {
    border: 3px solid #111;
}

.grid-icon-item {
    color: #494949;
    border: 1px solid #bcbcbc;
}

.grid-icon-item:hover {
    border: 1px solid #6658ea;
    color: #fff;
}

.grid-icon-item .material-icons {
    color: #6658ea;
}

.grid-icon-label {
    border-top: 1px solid #bcbcbc;
}

/* ================= ELEMENTS ================== */

#pixPolish-filters.pixPolish-grid img:hover {
    border: 3px solid #6658ea;
}

#pixPolish-filters.pixPolish-grid div label span {
    background: #eee;
    color: #494949;
}

#pixPolish-filters.pixPolish-grid input[type=checkbox]:checked+label img,
#pixPolish-filters.pixPolish-grid input[type=radio]:checked+label img {
    border: 3px solid #6658ea
}

#pixPolish-filters.pixPolish-grid div:hover span,
#pixPolish-filters.pixPolish-grid input[type=checkbox]:checked+label>span,
#pixPolish-filters.pixPolish-grid input[type=radio]:checked+label>span {
    color: #fff;
    background: #6658ea
}

.pixPolish-element>.material-icons {
    color: #494949;
}

/* ================= BUTTONS ================== */

.pixPolish-btn-simple {
    color: #494949;
}

.pixPolish-btn-simple:hover,
.pixPolish-btn-simple.active {
    color: #111;
}

.pixPolish-btn-simple:disabled {
    color: #494949;
}

.pixPolish-btn-simple.star {
    color: #FF9800 !important;
}

.pixPolish-btn {
    background: #eee;
    color: #111;
}

.pixPolish-btn:hover,
.pixPolish-btn.primary:hover {
    background: #5546e8;
    color:#fff;
}

.pixPolish-btn.active,
.pixPolish-btn.active:hover,
.pixPolish-btn.primary {
    background: #6658ea;
    color: #fff;
}

.pixPolish-btn.danger {
    background: #F44336;
    color:#fff;
}

.pixPolish-btn.danger:hover {
    background: #D32F2F;
    color:#fff;
}

.pixPolish-horizontal-center.active,
.pixPolish-vertical-center.active {
    background: #eee !important;
}

/* ================= BLOCKS ================== */

.icon-group {
    border: 1px solid #bcbcbc;
    background: #bcbcbc
}

.icon-group .pixPolish-btn {
    border-right: 1px solid #bcbcbc;
}

.icon-group .pixPolish-btn:hover,
.icon-group .pixPolish-btn.active {
    background: #fff;
  color:#111
}

/* ================= TOOLTIP ================== */

.tooltip:after {
    background-color: #111;
    color: #fff;
}

.tooltip:before {
    border-color: #111 transparent;
}

/* ================= PAGINATION ================== */

.pixPolish-pagination ul li {
    border: 1px solid #bcbcbc;
    color: #494949;
}

.pixPolish-pagination ul li.active,
.pixPolish-pagination ul li.active:hover {
    background: #6658ea;
    border-color: #6658ea;
    color: #fff;
}

.pixPolish-pagination ul li:hover {
    border-color: #6658ea;
}

.pixPolish-pagination ul li a {
    color: #111;
}

.pixPolish-accordion .pixPolish-pagination ul li {
    color: #494949;
    background: #eee;
}

.pixPolish-accordion .pixPolish-pagination ul li.active,
.pixPolish-accordion .pixPolish-pagination ul li.active:hover {
    color: #fff;
    background: #6658ea;
}

.pixPolish-accordion .pixPolish-pagination ul li a,
.pixPolish-accordion .pixPolish-pagination ul li>span {
    color: #494949;
}

.pixPolish-accordion .pixPolish-pagination ul li a:hover {
    color: #111
}

.pixPolish-accordion .pixPolish-pagination ul li.active>span {
    color: #fff
}

/* ================= ACCORDION ================== */

ul.pixPolish-accordion>li {
    border: 1px solid #bcbcbc;
}

ul.pixPolish-accordion>li.opened {
    border-color: #6658ea;
}

ul.pixPolish-accordion>li>a {
    color: #494949;
}

ul.pixPolish-accordion>li>a:hover,
ul.pixPolish-accordion>li.opened>a {
    color: #111;
}

ul.pixPolish-accordion>li.opened>a {
    border-bottom: 1px solid #bcbcbc
}

ul.pixPolish-accordion>li>a>.data-count {
    background: #6658ea;
    color: #fff;
}

/* ================= RANGESLIDER ================== */

.pixPolish-slider {
    background: #bcbcbc;
}

.pixPolish-slider::-webkit-slider-thumb {
    background: #6658ea;
    border: 3px solid #fff;
}

.pixPolish-slider::-moz-range-thumb {
    background: #6658ea;
    border: 3px solid #fff;
}

/* ================= COUNTER ================== */

.pixPolish-counter .pixPolish-btn,
.pixPolish-counter .pixPolish-btn:hover,
.pixPolish-counter .pixPolish-btn:focus {
    background: #bcbcbc;
}

.pixPolish-counter .pixPolish-btn:disabled {
    color: rgba(0, 0, 0, 0.3);
}

/* ================= CONTROLS ================== */

.pixPolish-control-label span {
    background: #eee;
    color: #111;
}

.pixPolish-form-field {
    background: #eee;
    border: 1px solid #bcbcbc;
    color: #494949;
}

.pixPolish-form-field:focus {
    background: #fff;
    border: 1px solid #6658ea;
    color: #111;
}

.pixPolish-search-wrap .material-icons {
    color: #494949;
}

#pixPolish-element-search-icon.cancel,
#pixPolish-icon-search-icon.cancel {
    color: #F44336;
}

.pixPolish-sub-settings {
    border-top: 1px dashed #bcbcbc;
}

/* ================= COLORPICKER ================== */

.pixPolish-colorpicker,
.pixPolish-colorpicker:focus,
.pixPolish-form-field {
    background: #eee;
    border: 1px solid #bcbcbc;
    color: #494949;
}

.pixPolish-colorpicker:focus {
    color: #111;
}

.sp-container {
    background: #fff;
    border: 1px solid #bcbcbc;
}

.sp-palette-container {
    border-right: solid 1px #bcbcbc;
}

.sp-container button {
    color: #494949;
}

.sp-container button:hover {
    color: #111;
}

.sp-container button.sp-choose {
    background: #6658ea;
    color: #fff;
}

.sp-container button.sp-choose:hover,
.sp-container button.sp-choose:focus {
    background: #5546e8;
    color: #fff;
}

.sp-clear-display:before {
    color: #111;
}

.sp-colorize-container {
    border-color:#bcbcbc !important;
}

/* ================= SELECT ================== */

.pixPolish-select {
    color: #494949;
    background: #eee url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23aaaaaa' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right 0.5rem center;
    background-size: 20px 10px;
    border: 1px solid #bcbcbc;
}

.pixPolish-select:focus {
    border: 1px solid #6658ea;
}

.pixPolish-select:focus::-ms-value {
    color: #465362;
    background-color: #fff;
}

.select2-container--dark .select2-selection--single {
    background: #eee;
    border: 1px solid #bcbcbc;
}

.select2-container--dark .select2-selection--single .select2-selection__rendered {
    color: #494949;
}

.select2-container--dark .select2-selection--single .select2-selection__arrow b {
    border-color: #bcbcbc transparent transparent transparent;
}

.select2-container--dark .select2-selection--single .select2-selection__placeholder {
    color: #fff;
}

.select2-container--open .select2-dropdown--below,
.select2-container--open .select2-dropdown--above {
    background: #fff;
    border-color: #bcbcbc;
}

.select2-container--dark .select2-results__option--highlighted[aria-selected] {
    background: #6658ea !important;
    color: #ffffff;
}

.select2-container--dark .select2-results__option[aria-selected=true] {
    background: #6658ea;
    color: #fff;
}

.select2-drop {
    border: 2px solid #bcbcbc;
}

.select2-drop.select2-drop-above {
    border-top: 2px solid #bcbcbc;
}

.select2-container--dark .select2-search input {
    border: 1px solid #bcbcbc;
    background: #eee;
    color: #111
}

.select2-container--dark .select2-search input:focus {
    border: 1px solid #6658ea;
}

.select2-container--dark .select2-results__group {
    border-top: 1px solid #bcbcbc;
}

/* ================= TABS ================== */

.pixPolish-tabs-menu li:hover {
    color: #111;
}

.pixPolish-tabs-menu li.active {
    background: #6658ea;
    color: #fff;
}

/* ================= TOGGLE ================== */

.pixPolish-toggle-switch {
    background: #bcbcbc;
}

.pixPolish-toggle-switch:before {
    background: #fff;
}

.pixPolish-toggle-checkbox:checked+.pixPolish-toggle-switch {
    background: #6658ea;
}

/* ================= CHECKBOX ================== */

.pixPolish-checkmark {
    background-color: #eee;
    border: 1px solid #bcbcbc;
}

.pixPolish-checkbox input:checked~.pixPolish-checkmark {
    background-color: #6658ea;
    border-color: #6658ea;
}

.pixPolish-checkbox .pixPolish-checkmark:after {
    border: solid #111;
    border-width: 0 3px 3px 0;
}

/* ================= CUSTOM CURSOR ================== */

.tm-pointer-simple.tm-cursor {
    background-color: #fff;
}

/* ================= MODAL ================== */

.pixPolish-modal {
    background: rgba(224, 224, 224, 0.9);
}

.pixPolish-modal-inner>.pixPolish-tabs>.pixPolish-tabs-menu>li {
    background: transparent;
  color:#494949;
}

.pixPolish-modal-inner>.pixPolish-tabs>.pixPolish-tabs-menu>li:hover, 
.pixPolish-modal-inner>.pixPolish-tabs>.pixPolish-tabs-menu>li.active {
    background: #fff;
  color:#111;
}

.pixPolish-modal-inner>.pixPolish-tabs>.pixPolish-tab,
.pixPolish-modal-bg {
    background: #fff;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.20), 0 15px 12px rgba(0, 0, 0, 0.12);
}

.pixPolish-modal-close {
    color: #fff;
    background: #F44336;
}

.pixPolish-modal-close:hover {
    color: #fff;
    background: #D32F2F;
}

.pixPolish-modal-close .material-icons {
    font-size: 20px;
    line-height: 36px;
}

#pixPolish-download-as-json,
#pixPolish-save-as-json {
    border-top: 1px dashed #bcbcbc;
}

.pixPolish-select-btn-block>div:first-child {
    border-right: 1px dashed #bcbcbc
}

/* ================= TEMPLATE LIBRARY ================== */

.pixPolish-template-list {
    border: 1px solid #bcbcbc;
}

.pixPolish-template-list li {
    border-bottom: 1px solid #bcbcbc;
}

.pixPolish-template-list li.active {
    background:#eee
}

#pixPolish-history-list li .info .material-icons {
    color: #6658ea;
}

#pixPolish-history-list li .info span.time {
    background: #fff;
    color:#111;
}

/* ================= MASONRY ================== */

.pixPolish-masonry-item .favorite {
    background: #fff;
}

.pixPolish-masonry-item-inner {
    border: 4px solid #eee;
}

.grid-item:hover .pixPolish-masonry-item-inner,
.pixPolish-masonry-item-inner:hover {
    border-color: #6658ea;
}

.pixPolish-masonry-item-desc {
    background: #6658ea;
    color: #fff
}

.pixPolish-svg-library-delete,
.pixPolish-library-delete {
    color: #fff;
    background: #F44336;
}

.pixPolish-svg-library-delete:hover,
.pixPolish-library-delete:hover {
    background: #D32F2F;
}

a.pexels-url {
    color: #6658ea;
    background: #fff;
}

a.pexels-url:hover {
    color: #544abf;
}

#pexels-credit {
    color:#494949;
}

/* ================= RULER ================== */

.guide.v {
    border-right: 1px solid #6658ea;
}

.guide.h {
    border-bottom: 1px solid #6658ea;
}

.guide .info {
    background-color: #111;
    border: 1px solid #111;
    color: #fff;
}

.ruler {
    background-color:#eee;
}

.ruler .label {
    color: #494949;
}

.ruler.h {
    border-bottom: 1px solid #bcbcbc;
}

.ruler.h span.major {
    border-left: 1px solid #bcbcbc
}

.ruler.h span.milestone {
    border-left: 1px solid #bcbcbc
}

.ruler.v {
    border-right: 1px solid #bcbcbc
}

.ruler.v span.major {
    border-top: 1px solid #bcbcbc;
}

.ruler.v span.milestone {
    border-top: 1px solid #bcbcbc;
}

#pixPolish-ruler-icon {
  background: #eee;
    border-right:1px solid #bcbcbc;
    border-bottom:1px solid #bcbcbc;
}

#pixPolish-ruler-icon.closed {
    background: transparent;
}

.menu-btn {
    background-color: #6658ea;
    color: #fff;
}

.rg-menu {
  border-right: 1px solid #bcbcbc;
}

.rg-menu li {
    border-bottom: 1px solid #bcbcbc;
}

.rg-menu a {
    background-color: #eee;
  color: #494949;
}

.rg-menu a:hover,
.rg-menu a.selected {
    color: #000;
}

/* ================= MEDIA QUERIES ================== */

@media only screen and (max-width: 800px) {
    .pixPolish-modal-inner>.pixPolish-tabs>.pixPolish-tabs-menu>li {
        background: #fff;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
}