/* ---------------------- 
Stylesheet Guide
-------------------------

MATERIAL ICONS
LOADER
GENERAL STYLES
PAGE STRUCTURE
TOP BAR
DROPDOWN
CONTENT BAR
ICON MENU
CONTENT
LAYERS
GRID
ELEMENTS
BUTTONS
BLOCKS
TOOLTIP
PAGINATION
ACCORDION
RANGESLIDER
COUNTER
CONTROLS
COLORPICKER
SELECT
TABS
TOGGLE
CHECKBOX
CUSTOM CURSOR
MODAL
TEMPLATE LIBRARY
MEDIA LIBRARY
SVG LIBRARY
MASONRY
FRONT-END EDITOR
MEDIA QUERIES

*/

/* ================= LOADER ================== */

.pixPolish-loader-inner {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999999;
    display: flex;
    align-items: center;
    justify-content: center
}

.pixPolish-loader-wrap.hide {
    display: none !important;
}

.pixPolish-loader {
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    -webkit-animation: pixPolishSpin 1s infinite linear;
    animation: pixPolishSpin 1s infinite linear
}

@-webkit-keyframes pixPolishSpin {
    100% {
        transform: rotate(360deg)
    }
}

@keyframes pixPolishSpin {
    100% {
        transform: rotate(360deg)
    }
}

/* ================= GENERAL STYLES ================== */

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    scrollbar-width: thin;
}

*::-webkit-scrollbar {
    width: 14px;
}

*::-webkit-scrollbar-thumb {
    border-radius: 20px;
}

html,
body {
    padding: 0;
    margin: 0;
}

html {
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0 0 15px 0;
    line-height: 1.2;
    font-weight: 700;
}

h1 {
    font-size: 2rem
}

h2 {
    font-size: 1.85rem
}

h3 {
    font-size: 1.7rem
}

h4 {
    font-size: 1.55rem
}

h5 {
    font-size: 1.4rem
}

h6 {
    font-size: 1.25rem
}

p {
    font-size: 1rem;
    line-height: 1.6;
    margin: 0 0 15px 0;
}

select:disabled,
input:disabled,
button:disabled {
    pointer-events: none !important;
}

.input-hidden {
    position: absolute;
    left: -9999px;
}

#pixPolish-icon-panel hr {
    display: block;
    border: none;
    margin: 25px 0;
}

.d-none {
    display: none !important;
}

.d-block {
    display: block !important;
}

#pixPolish-custom-element-options,
#pixPolish-noframes,
#pixPolish-noelements,
#pixPolish-noicons,
#pixPolish-text-settings,
#pixPolish-image-settings,
#pixPolish-shape-settings,
#shape-gradient-settings,
#text-gradient-settings,
#element-gradient-settings,
#pixPolish-custom-shape,
#pixPolish-brush-pattern-width,
#pixPolish-brush-pattern-distance,
#shape-custom-width-wrap {
    display: none;
}

#pixPolish-noicons {
    margin-top: 0;
}

#pixPolish-custom-shape {
    margin-top: 20px;
}

.notice {
    display: block;
    padding: 12px 15px;
    border-radius: 4px;
    font-weight: 700;
    margin: 15px 0;
}

.notice h6 {
    margin-bottom: 0.5rem;
}

.pixPolish-img-wrap {
    position: relative;
    min-height: 120px;
    width: 100%;
}

.pixPolish-frame .pixPolish-img-wrap {
    min-height: 60px;
}

.pixPolish-img-loader {
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    -webkit-animation: pixPolishSpin 1s infinite linear;
    animation: pixPolishSpin 1s infinite linear;
    z-index: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    content: '';
    margin: -15px 0 0 -15px;
}


/* ================= PAGE STRUCTURE ================== */

#pixPolish-body {
    position: relative;
    height: 100vh;
    margin: 0;
    padding: 60px 200px 0 415px;
}

body.panel-closed #pixPolish-body {
    padding-left: 75px;
}

body.layers-closed #pixPolish-body {
    padding-right: 0;
}

.pixPolish-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.pixPolish-inner-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
    position: relative;
    z-index: 1;
}

#pixPolish-toggle-left,
#pixPolish-toggle-right {
    position: fixed;
    height: 60px;
    top: 50%;
    transform: translateY(-30px);
    z-index: 10;
    width: 22px;
    cursor: pointer;
    text-align: center;
}

#pixPolish-toggle-left {
    left: 414px;
    border-left: none !important;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#pixPolish-toggle-right {
    right: 199px;
    border-right: none !important;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: 8;
}

#pixPolish-toggle-left.closed {
    display: none !important;
}

#pixPolish-toggle-right.closed {
    right: 0;
}

#pixPolish-toggle-left .material-icons,
#pixPolish-toggle-right .material-icons {
    font-size: 22px;
    line-height: 60px;
    text-align: center;
    transition: color 0.2s ease-in-out;
}

/* ================= TOP BAR ================== */

#pixPolish-top-bar {
    display: flex;
    width: 100%;
    height: 60px;
    position: fixed;
    left: 0;
    top: 0;
    padding: 0;
    align-items: center;
    z-index: 99;
}

.pixPolish-top-bar-menu {
    margin-left: auto;
    padding: 0 15px;
    display: flex;
    align-items: center;
}

.pixPolish-top-bar-menu>div {
    margin-left: 10px;
}

.pixPolish-logo {
    padding: 15px;
    height: 60px;
}

.pixPolish-logo img {
    height: 100%;
    width: auto;
}

.pixPolish-logo img.logo-desktop {
    display: block;
}

.pixPolish-logo img.logo-mobile {
    display: none;
}

/* ================= DROPDOWN ================== */

#pixPolish-user-menu {
    display: flex;
    align-items: center;
}

#pixPolish-user-menu img {
    width: 32px;
    height: auto;
    vertical-align: bottom;
    border-radius: 100%;
}

.pixPolish-dropdown-wrap {
    position: relative;
    cursor: pointer;
}

ul.pixPolish-dropdown {
    position: absolute;
    top: 42px;
    right: 0;
    width: 200px;
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 9;
    border-radius: 4px;
    display: none;
}

ul.pixPolish-dropdown li {
    padding: 10px;
}

ul.pixPolish-dropdown li:last-child {
    border: none !important;
}

ul.pixPolish-dropdown li a {
    display: block;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: color 0.2s ease-in-out;
}

ul.pixPolish-dropdown li a .material-icons {
    font-size: 15px;
    width: 22px;
}

.pixPolish-dropdown-wrap>.material-icons {
    transition: transform 0.2s linear;
    transform: rotate(0);
}

.pixPolish-dropdown-wrap.opened>.material-icons {
    transform: rotate(180deg);
}

/* ================= CONTENT BAR ================== */

.pixPolish-content-bar {
    position: fixed;
    display: flex;
    bottom: 20px;
    right: 220px;
    padding: 0 25px;
    border-radius: 100px;
    align-items: center;
    overflow: hidden;
    z-index: 10;
    visibility: hidden;
}

body.layers-closed .pixPolish-content-bar {
    right: 20px;
}

.pixPolish-content-bar .pixPolish-img-size {
    line-height: 40px;
    padding-right: 15px;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.pixPolish-img-size .material-icons {
    font-size: 10px;
}

.pixPolish-content-bar .pixPolish-counter {
    align-items: center;
    margin-left: 0;
    max-width: 105px;
    padding: 0 20px 0 10px;
    position: relative;
    height: 40px;
}

.pixPolish-content-bar .pixPolish-counter .pixPolish-btn,
.pixPolish-content-bar .pixPolish-counter .pixPolish-btn:hover,
.pixPolish-content-bar .pixPolish-counter .pixPolish-btn:focus {
    min-width: 15px;
}

.pixPolish-content-bar .pixPolish-counter .pixPolish-btn .material-icons {
    font-size: 16px;
}

.pixPolish-counter .pixPolish-btn:disabled {
    opacity: 1;
}

.pixPolish-content-bar .pixPolish-counter .pixPolish-form-field {
    border: none !important;
    background: transparent !important;
    font-weight: 700
}

.pixPolish-content-bar .pixPolish-counter:after {
    font-family: 'Material Icons';
    content: 'percent';
    position: absolute;
    right: -25px;
    line-height: 40px;
    top: 0;
    bottom: 0;
    padding: 0 10px;
    font-size: 12px;
}

#pixPolish-img-drag {
    padding: 0 10px;
    align-self: stretch;
    border-radius: 0;
}

#pixPolish-img-drag .material-icons {
    margin: 0;
    font-size: 16px;
}

/* ================= ICON MENU ================== */

#pixPolish-icon-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 75px;
    display: flex;
    flex-direction: column;
    padding: 60px 0 0 0;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 11;
    height: 100%;
}

button.pixPolish-icon-menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 12px 0;
    cursor: pointer;
    height: auto;
    margin: 0;
    border: none;
    outline: none;
    box-shadow: none;
    border-radius: 0;
    transition: color 0.2s ease-in-out;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pixPolish-icon-menu-title {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 0.9rem;
    padding-top: 6px;
    text-transform: uppercase;
    font-weight: 700;
}

button.pixPolish-icon-menu-btn.stick-to-bottom {
    margin-top: auto;
}

button.pixPolish-icon-menu-btn .material-icons {
    font-size: 22px;
}

#pixPolish-icon-panel {
    position: fixed;
    top: 0;
    left: 0;
    width: 415px;
    padding: 60px 0 0 75px;
    overflow: hidden;
    z-index: 10;
    height: 100%;
}

#pixPolish-icon-panel-inner {
    display: block;
    overflow: auto;
    height: 100%;
    padding: 25px;
}

.pixPolish-icon-panel-content.panel-hide {
    display: none !important;
}

.pixPolish-panel-inner {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

/* ================= CONTENT ================== */

#pixPolish-content {
    width: 100%;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

#pixPolish .canvas-container {
    z-index: 1;
}

.pixPolish-panel-subtitle {
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-bottom: 20px
}

#pixPolish-canvas-img-wrap {
    display: none;
}

#pixPolish-canvas-img {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

#pixPolish-canvas-wrap {
    position: relative;
    z-index: 9;
    visibility: hidden;
}

#pixPolish-canvas-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 99;
    cursor: grab;
}

#pixPolish-canvas-loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 98;
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#pixPolish-canvas-loader .pixPolish-loader {
    width: 40px;
    height: 40px;
    border-width: 3px;
}

/* ================= LAYERS ================== */

#pixPolish-right-col {
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
    overflow: auto;
    z-index: 7;
    height: 100%;
    padding: 60px 0 0 0;
    display: flex;
    flex-direction: column;
}

.pixPolish-layers-title {
    padding: 15px 10px;
    margin: 0;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.pixPolish-layers-title .material-icons {
    font-size: 1.25rem;
    margin-right: 5px;
}

#pixPolish-layers {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
}

#pixPolish-layers li {
    position: relative;
    align-items: center;
    margin: 0;
    padding: 0;
    display: flex;
    font-weight: 700;
    line-height: 46px;
    height: 48px;
    font-size: 1rem;
    justify-content: space-between;
    overflow: hidden;
    transition: color 0.1s linear;
    cursor: move;
}

#pixPolish-layers li .layer-icons {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    padding: 0 10px;
    z-index: 9;
    width: 80%;
    display: none
}

#pixPolish-layers li .layer-icons a {
    cursor: pointer;
    height: 100%;
    min-width: 0;
    text-align: center;
    width: 25%;
}

#pixPolish-layers li .layer-icons .material-icons {
    font-size: 16px;
    line-height: 46px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    opacity: 1;
    transition: opacity 0.1s linear;
}

#pixPolish-layers li .layer-icons .material-icons:hover {
    opacity: 0.8;
}

#pixPolish-layers li .layer-name {
    width: 100%;
    padding: 0 25% 0 0;
    background: transparent !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    font-size: 1rem;
}

#pixPolish-layers>li>.material-icons {
    min-width: 30px;
    text-align: center;
    font-size: 18px;
}

#pixPolish-layers>li>.material-icons.layer-settings {
    font-size: 16px;
    width: 20%;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.1s linear;
}

#pixPolish-no-layer {
    padding: 20px;
    font-style: italic;
    font-size: 0.9rem;
}

#pixPolish-no-layer a {
    display: block;
    text-align: right;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 700;
    font-style: normal;
    font-size: 1rem;
}

#pixPolish-no-layer a:hover {
    text-decoration: underline;
}

#pixPolish-layer-delete-wrap {
    margin-top: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    visibility: hidden;
}

#pixPolish-layer-delete-wrap .pixPolish-btn {
    margin-left: 5px;
    height: 34px;
    padding: 0 10px;
}

#pixPolish-layer-delete-wrap .pixPolish-btn .material-icons {
    margin: 0;
    font-size: 16px
}

/* ================= GRID ================== */

.pixPolish-grid {
    position: relative;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(min(80px, 100%), 1fr));
    column-gap: 10px;
    row-gap: 10px;
}

.pixPolish-grid.two-column {
    grid-template-columns: repeat(auto-fill, minmax(min(100px, 100%), 1fr));
}

.pixPolish-grid.three-column {
    grid-template-columns: repeat(auto-fill, minmax(min(60px, 100%), 1fr));
}

.pixPolish-grid.four-column {
    grid-template-columns: repeat(auto-fill, minmax(min(50px, 100%), 1fr));
}

.pixPolish-grid.five-column {
    grid-template-columns: repeat(auto-fill, minmax(min(50px, 100%), 1fr));
    column-gap: 5px;
    row-gap: 5px;
}

.pixPolish-grid.template-grid {
    grid-template-columns: repeat(auto-fill, minmax(min(120px, 100%), 1fr));
    min-height: 80px;
}

.pixPolish-frames-grid .grid-item,
.pixPolish-grid .grid-item {
    position: relative;
    cursor: pointer;
}

.pixPolish-frames-grid img,
.pixPolish-grid img {
    vertical-align: bottom;
    width: 100%;
    height: auto;
}

.pixPolish-grid.svg-library-grid,
.pixPolish-grid.media-library-grid {
    grid-template-columns: repeat(auto-fill, minmax(min(100px, 100%), 1fr));
}

.pixPolish-grid .pixPolish-masonry-item-inner {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between
}

.pixPolish-grid .pixPolish-masonry-item {
    height: 100%;
}

.pixPolish-grid .notice {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
}

.pixPolish-frame,
.pixPolish-element {
    position: relative;
    height: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    justify-content: center;
}

.type-customSVG>a:before {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    text-transform: none;
    content: 'color_lens';
    margin-right: 5px;
    font-size: 1.1rem;
}

.template-favorite,
.pixPolish-frame .frame-favorite,
.pixPolish-element .element-favorite {
    position: absolute;
    right: -1px;
    top: -1px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    z-index: 2;
}

.grid-item:hover .template-favorite,
.pixPolish-frame:hover .frame-favorite,
.pixPolish-element:hover .element-favorite {
    visibility: visible;
    opacity: 1;
}

.template-favorite {
    right: 0px;
    top: 0px;
    width: 25px;
    height: 25px;
}

.template-favorite>.pixPolish-btn-simple>.material-icons,
.pixPolish-frame>.frame-favorite>.pixPolish-btn-simple>.material-icons,
.pixPolish-element>.element-favorite>.pixPolish-btn-simple>.material-icons {
    font-size: 18px;
}

.pixPolish-frames-grid .pixPolish-frame {
    margin-top: 10px;
    padding: 0;
}

.pixPolish-frames-grid {
    margin-top: -10px;
}

#pixPolish-frame-favorites .pixPolish-frames-grid {
    margin-top: 0;
}

.grid-icon-item {
    text-decoration: none;
    display: block;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}

.grid-icon-item div {
    width: 100%;
    text-align: center;
}

.grid-icon-item .material-icons {
    font-size: 36px;
    padding: 10px 0;
}

.grid-icon-label {
    display: block;
    font-size: 0.9rem;
    font-weight: 700;
    padding: 5px 0;
}

/* ================= ELEMENTS ================== */

#pixPolish-filters.pixPolish-grid img {
    border: 3px solid transparent;
    border-radius: 0;
    cursor: pointer;
}

#pixPolish-filters.pixPolish-grid .pixPolish-element,
#pixPolish-filters.pixPolish-grid .pixPolish-element:hover {
    border: none;
}

#pixPolish-filters.pixPolish-grid div label span {
    display: block;
    text-align: center;
    padding: 5px 7px;
    font-size: 0.9rem;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    bottom: 0px;
    right: 0px;
    line-height: 1;
    border-top-left-radius: 4px;
}

.pixPolish-element>.material-icons {
    font-size: 26px;
    line-height: 1.4;
}

/* ================= BUTTONS ================== */

.pixPolish-btn-simple {
    border: none !important;
    background: none !important;
    outline: none !important;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    cursor: pointer;
    font-size: 1rem;
}

.pixPolish-btn {
    padding: 8px 12px;
    margin: 0;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.9rem;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #5E5DF0;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  opacity: 1;
  outline: 0 solid transparent;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
}



.pixPolish-btn.btn-full {
    width: 100%;
}

.pixPolish-btn:disabled {
    opacity: 0.7;
}

.pixPolish-btn .material-icons {
    font-size: 0.9rem;
    margin-right: 4px;
}

.btn-full {
    width: 100%;
}

.pixPolish-btn.pixPolish-lg-btn {
    padding: 12px;
}

#text-flip-y .material-icons,
#pixPolish-flip-vertical .material-icons,
#img-flip-vertical .material-icons {
    transform: rotate(90deg);
}

#pixPolish-crop-btns.disabled {
    pointer-events: none !important;
    opacity: 0.5;
}

/* ================= BLOCKS ================== */

.pixPolish-btn-group {
    display: flex;
}

.icon-group .pixPolish-btn {
    padding: 8px 0;
    flex: 1;
    border-radius: 0;
}

.icon-group .pixPolish-btn:last-child {
    border: none !important;
}

.icon-group .pixPolish-btn .material-icons {
    font-size: 16px;
    margin: 0;
}

.pixPolish-aspect-ratio {
    display: flex;
    align-items: center;
}

.pixPolish-resize-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.pixPolish-aspect-ratio>.material-icons,
.pixPolish-resize-wrap>.material-icons {
    font-size: 12px;
    min-width: 20px;
    text-align: center;
}

.pixPolish-aspect-ratio .pixPolish-btn,
.pixPolish-resize-wrap .pixPolish-btn {
    margin-left: 10px;
    padding: 0;
    height: 34px;
    min-width: 34px;
}

.pixPolish-aspect-ratio .pixPolish-btn .material-icons,
.pixPolish-resize-wrap .pixPolish-btn .material-icons {
    font-size: 1rem;
    margin: 0;
}

.pixPolish-btn-set {
    display: flex;
    align-items: center;
}

.pixPolish-btn-set .pixPolish-btn:first-child {
    width: 100%
}

.pixPolish-btn-set .pixPolish-btn:last-child .material-icons {
    margin: 0;
    font-size: 16px;
}

.pixPolish-btn-set .pixPolish-btn:last-child {
    margin-left: 5px;
    min-width: 40px;
}

.pixPolish-select-btn-set {
    display: flex;
    align-items: stretch;
}

.pixPolish-select-btn-set .pixPolish-btn {
    margin-left: 10px;
    padding-top: 0;
    padding-bottom: 0;
}

.pixPolish-select-btn-set .pixPolish-btn .material-icons {
    margin: 0;
    font-size: 16px;
}

.pixPolish-block-50 {
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px
}

.pixPolish-block-50:last-child {
    margin: 0
}

.pixPolish-block-50>* {
    width: 50%;
}

.pixPolish-block-50>*:first-child {
    margin-right: 5px;
}

.pixPolish-block-50>*:last-child {
    margin-left: 5px;
}

.pixPolish-block-50 .pixPolish-btn {
    height: 34px;
}

.pixPolish-block-33 {
    display: flex;
    align-items: flex-end;
}

.pixPolish-block-33>div {
    flex: 1
}

.pixPolish-block-33>div:first-child {
    margin-right: 10px;
}

.pixPolish-block-33>div:last-child {
    margin-left: 10px;
}

.pixPolish-block-50 label,
.pixPolish-block-33 label {
    font-weight: 700;
    margin: 0 0 5px 0 !important;
    display: block;
}

/* ================= TOOLTIP ================== */

.tooltip {
    position: relative;
}

.tooltip:after {
    content: attr(data-title);
    font-size: 0.9rem;
    position: absolute;
    padding: 7px 10px;
    bottom: -10px;
    left: 50%;
    white-space: nowrap;
    opacity: 0;
    z-index: 99999;
    visibility: hidden;
    transform: translateX(-50%) translateY(100%);
    text-transform: none;
    font-weight: 700;
    border-radius: 2px;
    line-height: 1.2;
}

.tooltip:before {
    border: solid;
    border-width: 0 6px 6px 6px;
    bottom: -10px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99999;
    visibility: hidden;
    transform: translateX(-50%);
}

.tooltip:hover:after,
.tooltip:hover:before {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}

.tooltip.tooltip-top:after {
    top: -10px;
    bottom: auto;
    transform: translateX(-50%) translateY(-100%);
}

.tooltip.tooltip-top:before {
    border-width: 6px 6px 0 6px;
    top: -10px;
    bottom: auto;
}

/* ================= PAGINATION ================== */

.pixPolish-pagination ul {
    list-style: none;
    margin: 30px 0 0 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.pixPolish-pagination ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 3px;
    padding: 0;
    font-size: 1rem;
    line-height: 30px;
    min-width: 30px;
    font-weight: 700;
    border-radius: 4px;
}

.pixPolish-pagination ul li.disabled {
    opacity: 0.7;
    pointer-events: none;
}

.pixPolish-pagination ul li .material-icons {
    font-size: 1rem;
    line-height: 30px;
    margin: 0;
    padding: 0;
    display: block;
}

.pixPolish-pagination ul li a {
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: center
}

.pixPolish-accordion .pixPolish-pagination ul {
    margin: 20px 0 0 0;
    justify-content: center;
}

.pixPolish-accordion .pixPolish-pagination ul li {
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
    line-height: 1;
    min-width: 0;
    border: none;
    border-radius: 0;
}

.pixPolish-accordion .pixPolish-pagination ul li .material-icons {
    font-size: 0.9rem;
    line-height: 1;
}

.pixPolish-accordion .pixPolish-pagination ul li a,
.pixPolish-accordion .pixPolish-pagination ul li>span {
    padding: 7px;
}

/* ================= ACCORDION ================== */

ul.pixPolish-accordion {
    margin: 0 0 25px 0;
    padding: 0;
    list-style: none;
    border-bottom: none;
}

ul.pixPolish-accordion>li {
    margin: 0 0 10px 0;
    padding: 0;
    border-radius: 22px;
}

ul.pixPolish-accordion>li>div {
    padding: 20px;
    display: none;
}

ul.pixPolish-accordion>li.opened>div {
    display: block;
}

ul.pixPolish-accordion>li>a {
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.2s ease-in-out;
    font-weight: 700;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    padding: 8px 5px 8px 10px;
    cursor: pointer;
}

ul.pixPolish-accordion>li>a>.arrow {
    transform: rotate(0deg);
    font-size: 20px;
}

ul.pixPolish-accordion>li.opened>a>.arrow {
    transform: rotate(180deg);
}

ul.pixPolish-accordion>li>a>.arrow {
    margin-left: auto;
}

.material-icons.accordion-icon {
    font-size: 1.1rem;
    margin-right: 5px;
}

ul.pixPolish-accordion>li>a>.data-count {
    font-family: 'Roboto', sans-serif;
    line-height: 1.1;
    font-size: 0.8rem;
    padding: 2px 4px;
    border-radius: 4px;
    margin-left: auto;
    margin-right: 5px;
}

#pixPolish-frames ul.pixPolish-accordion>li>a>.arrow,
#pixPolish-elements ul.pixPolish-accordion>li>a>.arrow {
    margin-left: 0;
}

/* ================= RANGESLIDER ================== */

.pixPolish-slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 3px;
    outline: none;
    opacity: 1;
}

.pixPolish-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 14px;
    height: 14px;
    cursor: pointer;
    border: none;
    box-shadow: none;
    border-radius: 100%;
}

.pixPolish-slider::-moz-range-thumb {
    width: 14px;
    height: 14px;
    cursor: pointer;
    border: none;
    box-shadow: none;
    border-radius: 100%;
}

/* ================= COUNTER ================== */

.pixPolish-counter {
    display: flex;
    align-items: stretch;
    max-width: 120px;
    margin-left: auto;
}

.pixPolish-counter .pixPolish-btn,
.pixPolish-counter .pixPolish-btn:hover,
.pixPolish-counter .pixPolish-btn:focus {
    padding: 0;
    border-radius: 0;
    min-width: 30px;
}

.pixPolish-counter .pixPolish-btn .material-icons {
    margin: 0;
}

.pixPolish-counter .pixPolish-form-field {
    text-align: center;
}

.pixPolish-control-wrap.label-block .pixPolish-counter {
    max-width: 100%;
}

/* ================= CONTROLS ================== */

.pixPolish-control-wrap {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    align-items: center;
}

.pixPolish-control-wrap.hidden {
    display: none;
}

.pixPolish-accordion .conditional-settings .pixPolish-control-wrap,
.pixPolish-accordion .conditional-settings .pixPolish-control-wrap:first-child,
.pixPolish-control-wrap {
    margin-top: 15px;
}

#pixPolish-qrcode-settings .pixPolish-control-wrap:first-child,
#pixPolish-settings .pixPolish-control-wrap:first-child,
.pixPolish-accordion .pixPolish-control-wrap:first-child {
    margin-top: 0;
}

.pixPolish-control-wrap.nomargin {
    margin-bottom: 0;
}

.pixPolish-control-wrap.label-block {
    flex-direction: column;
}

.pixPolish-control-label,
.pixPolish-control {
    width: 50%;
    min-width: 50%;
}

.pixPolish-control-label {
    padding: 0 10px 0 0;
    font-size: 1rem;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.pixPolish-control-wrap.label-block .pixPolish-control-label {
    padding: 0;
}

.pixPolish-control-label span {
    font-family: 'Roboto', sans-serif;
    margin-left: auto;
    line-height: 1;
    padding: 4px;
    border-radius: 4px;
    font-size: 0.9rem;
}

.pixPolish-control-wrap.label-block .pixPolish-control-label,
.pixPolish-control-wrap.label-block .pixPolish-control {
    width: 100%;
    min-width: 100%;
}

.pixPolish-control-wrap.label-block .pixPolish-control-label {
    margin-bottom: 5px;
}

.pixPolish-control-wrap.label-block .pixPolish-control-label.slider-label {
    margin-bottom: 0;
}

.pixPolish-control-desc {
    font-size: 0.9rem;
    font-style: italic;
    padding-top: 5px;
}

#pixPolish-draw-settings,
#eraser-width-wrap {
    display: none;
}

.pixPolish-form-field {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    padding: 7px;
    outline: none;
    box-shadow: none;
    font-size: 1rem;
    line-height: 1.3;
}

.pixPolish-form-field:disabled {
    opacity: 0.7;
}

.pixPolish-hidden-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.pixPolish-hidden-file+label * {
    pointer-events: none;
}

.pixPolish-search-box {
    display: flex;
}

.pixPolish-search-box button {
    margin-left: 5px;
}

.pixPolish-search-box button .material-icons {
    margin: 0;
    font-size: 16px;
}

.pixPolish-search-wrap {
    position: relative;
    display: flex;
    margin-bottom: 25px;
}

.pixPolish-search-wrap .material-icons {
    position: absolute;
    top: 12px;
    right: 10px;
    line-height: 1;
    font-size: 18px;
    z-index: 9;
}

.pixPolish-search-wrap .pixPolish-form-field {
    padding: 11px 40px 11px 11px;
    border-radius: 4px;
}

#pixPolish-element-search-icon.cancel,
#pixPolish-icon-search-icon.cancel {
    cursor: pointer;
}

.pixPolish-sub-settings {
    margin-top: 25px;
    padding-top: 10px;
}

.pixPolish-accordion .pixPolish-sub-settings {
    margin-top: 20px;
    padding-top: 20px;
}

.pixPolish-sub-settings.nomargin {
    margin-top: 0px;
    padding-top: 0px;
    border: none;
}

.sp-colorize-container {
    width: 40px !important;
}

.pixPolish-submit-btns {
    display: flex;
}

.pixPolish-submit-btns .pixPolish-btn {
    width: 50%;
}

.pixPolish-submit-btns .pixPolish-btn:first-child {
    margin-right: 5px;
}

.pixPolish-submit-btns .pixPolish-btn:last-child {
    margin-left: 5px;
}

.pixPolish-control-group {
    display: flex;
    align-items: flex-end;
}

.pixPolish-control-group>div {
    width: 25%;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
}

.pixPolish-control-group>div:last-child {
    margin-right: 0;
}

.pixPolish-control-group .pixPolish-btn {
    height: 34px;
    width: 100%;
}

.pixPolish-control-group label {
    padding: 0 0 5px 0;
    font-weight: 700
}

#pixPolish-preferences {
    margin-bottom: 20px;
}

/* ================= COLORPICKER ================== */

.sp-original-input-container {
    display: flex;
    margin-left: auto !important;
    height: 34px;
}

.pixPolish-colorpicker,
.pixPolish-colorpicker:focus,
.pixPolish-form-field {
    width: 100%;
    padding: 7px;
    outline: none;
    box-shadow: none;
    color: #aaa;
    font-size: 1rem;
}

.sp-clear-display {
    background-image: none;
}

.sp-clear-enabled .sp-clear {
    top: 0;
}

.sp-clear-display:before {
    font-family: 'Material Icons';
    content: 'block';
    line-height: 14px;
    font-size: 14px;
}

/* ================= SELECT ================== */

.pixPolish-select {
    border-radius: 0;
    cursor: pointer;
    height: 34px;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    padding: 5px 30px 5px 5px;
    outline: none;
    font-size: 1rem;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.pixPolish-select:disabled {
    opacity: 0.7;
}

.pixPolish-select:focus {
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075), 0 0 0 0 rgba(50, 151, 211, 0.5);
}

.select2-container {
    z-index: 99999;
}

.select2-container--dark {
    max-width: 100%;
}

.select2-container--dark .select2-selection--single {
    border: 0px;
    height: 34px;
}

.select2-container--dark .select2-selection--single .select2-selection__rendered {
    line-height: 32px;
}

.select2-container--dark .select2-selection--single .select2-selection__arrow {
    height: 28px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px;
}

.select2-container--dark .select2-selection--single .select2-selection__arrow b {
    top: 60%;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    height: 0;
    left: 50%;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    width: 0;
}

.select2-container--dark .select2-selection--single .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold;
}

.select2-container--dark .select2-selection--single {
    border-radius: 0px;
}

.select2-container--dark.select2-container--open .select2-selection__arrow b {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
}

.select2-container--dark span.select2-search input {
    height: 30px !important;
}

.select2-drop {
    margin-top: -2px;
    border-top: 0;
    border-radius: 0px !important;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.select2-drop.select2-drop-above {
    margin-top: 2px;
    border-bottom: 0;
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.select2-container--dark .select2-search {
    margin-top: 3px;
}

.select2-container--dark .select2-search input {
    height: 26px;
    outline: none;
}

.select2-container--dark .select2-search--dropdown {
    padding: 5px;
}

.select2-container--dark .select2-results__group {
    display: block;
    padding: 10px 5px 5px 5px;
    text-transform: uppercase;
    font-size: 0.8rem;
}

.select2-container--dark .select2-results__option {
    padding: 5px;
    line-height: 1.2;
    border-radius: 2px;
}

.select2-container--dark .select2-item {
    display: flex;
    align-items: center;
}

.select2-container--dark .material-icons {
    font-size: 1rem;
    margin-right: 5px;
}

.select2-results>.select2-results__options {
    max-height: 250px;
    overflow: auto;
}

/* ================= TABS ================== */

.pixPolish-tabs {
    position: relative;
}

.pixPolish-tabs .pixPolish-tab {
    display: none;
}

.pixPolish-tabs .pixPolish-tab.active {
    display: block;
}

.pixPolish-tabs-menu {
    margin: 0 0 20px 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.pixPolish-tabs-menu li {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 1rem;
    margin: 0;
    padding: 5px 10px;
    line-height: 1.2;
    border-radius: 2px;
    cursor: pointer;
}

.pixPolish-tabs-menu li .material-icons {
    font-size: 1.1rem;
    margin-right: 5px;
}

/* ================= TOGGLE ================== */

.pixPolish-toggle {
    cursor: pointer;
    display: inline-block;
}

.pixPolish-toggle-switch {
    display: inline-block;
    border-radius: 20px;
    width: 40px;
    height: 20px;
    position: relative;
    vertical-align: middle;
    transition: background 0.25s;
}

.pixPolish-toggle-switch:before,
.pixPolish-toggle-switch:after {
    content: "";
}

.pixPolish-toggle-switch:before {
    display: block;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    position: absolute;
    top: 3px;
    left: 3px;
    transition: left 0.25s;
}

.pixPolish-toggle-checkbox:checked+.pixPolish-toggle-switch:before {
    left: 22px;
}

.pixPolish-toggle-checkbox {
    position: absolute;
    visibility: hidden;
}

/* ================= CHECKBOX ================== */

.pixPolish-checkbox {
    display: block;
    position: relative;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pixPolish-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.pixPolish-checkmark {
    position: absolute;
    top: 0;
    right: 0;
    height: 20px;
    width: 20px;
    border-radius: 4px;
}

.pixPolish-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.pixPolish-checkbox input:checked~.pixPolish-checkmark:after {
    display: block;
}

.pixPolish-checkbox .pixPolish-checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.pixPolish-checkbox-control,
.pixPolish-toggle-control {
    display: flex;
    justify-content: flex-end;
}

.pixPolish-checkbox-control {
    padding-right: 20px
}

/* ================= CUSTOM CURSOR ================== */

.tm-cursor-none,
.tm-cursor-none * {
    cursor: none !important;
}

.tm-cursor {
    pointer-events: none;
    position: fixed;
    z-index: 9999999999;
    top: 0;
    left: 0;
    display: block;
    opacity: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: opacity 300ms linear, transform 300ms linear, background-color 300ms linear, border 300ms linear, border-radius 300ms linear;
    visibility: hidden;
}

.tm-cursor.moving {
    opacity: 1;
}

.tm-cursor:before {
    pointer-events: none;
    content: ' ';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999999999;
    transition: opacity 300ms linear, transform 300ms linear, background-color 300ms linear, border 300ms linear, border-radius 300ms linear;
}

.tm-pointer-simple.tm-cursor {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 0 12px rgba(16, 39, 112, 0.2);
}

/* ================= MODAL ================== */

.pixPolish-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: none;
}

.pixPolish-modal-wrap {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    padding: 4%;
    overflow: auto
}

.pixPolish-modal-inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 4px;
    max-width: 800px;
}

.pixPolish-modal-inner.large {
    max-width: 1000px;
}

.pixPolish-modal-inner>.pixPolish-tabs>.pixPolish-tabs-menu {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    border-bottom: none;
    padding: 0px;
    overflow: hidden;
}

.pixPolish-modal-inner>.pixPolish-tabs>.pixPolish-tabs-menu>li {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    padding: 20px;
    border-radius: 0;
    margin: 0 4px 0 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    line-height: 1;
}

.pixPolish-modal-inner>.pixPolish-tabs>.pixPolish-tab,
.pixPolish-modal-bg {
    padding: 40px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.pixPolish-modal-inner label {
    margin: 0 5px 0 0;
}

.pixPolish-modal-close {
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    line-height: 36px;
    height: 36px;
    width: 36px;
    border-radius: 100%;
    text-align: center;
    z-index: 99999;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.pixPolish-modal-close .material-icons {
    font-size: 20px;
    line-height: 36px;
}

#modal-select-img .pixPolish-btn-set button,
#modal-select-img .pixPolish-btn-set .pixPolish-file-field {
    width: 50%;
}

#modal-select-img .pixPolish-btn-set .material-icons {
    margin-right: 5px;
}

#modal-select-img label {
    margin: 0;
}

#modal-empty-canvas .pixPolish-resize-wrap .pixPolish-btn {
    min-width: 120px;
}

#modal-empty-canvas .pixPolish-resize-wrap {
    margin: 0;
}

.pixPolish-keep {
    display: flex;
    padding: 20px 0 0 20px;
    font-style: italic;
    align-items: flex-start;
}

.pixPolish-keep>div {
    margin-left: 5px;
}

#pixPolish-download-as-json,
#pixPolish-save-as-json {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px dashed #303030;
}

.pixPolish-select-btn-block {
    display: flex;
}

.pixPolish-select-btn-block>div:first-child {
    width: 75%;
    padding-right: 20px;
    margin-right: 20px;
    border-right: 1px dashed #303030
}

.pixPolish-select-btn-block>div:last-child {
    width: 25%;
}

.pixPolish-select-btn-block .pixPolish-btn-set .pixPolish-btn:last-child .material-icons {
    font-size: 0.9rem
}

/* ================= TEMPLATE LIBRARY ================== */

.pixPolish-templates-menu-wrap {
    display: flex;
    margin-bottom: 30px;
    align-items: stretch;
    margin-top: -50px;
    max-width: 450px;
    margin-left: auto;
    z-index: 2;
}

.pixPolish-templates-menu-wrap>* {
    margin-right: 10px;
}

.pixPolish-templates-menu-wrap>*:last-child {
    margin-right: 0;
}

.pixPolish-templates-menu-wrap button .material-icons {
    margin: 0;
    font-size: 16px;
}

.pixPolish-template-list {
    list-style: none;
    margin: 0;
    padding: 0;
    border-bottom: none;
}

.pixPolish-template-list li {
    display: flex;
    align-items: center;
    padding: 12px;
}

.pixPolish-template-list li.active {
    pointer-events: none;
}

.pixPolish-template-list li.active button {
    opacity: 0.5;
}

.pixPolish-template-list li:last-child {
    border: none !important;
}

.pixPolish-template-list li div {
    flex: 1;
}

.pixPolish-template-list li div:first-child {
    font-weight: 700;
    font-size: 1rem
}

.pixPolish-template-list li div:last-child {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.pixPolish-template-list li div:last-child button {
    margin-left: 10px;
    font-size: 0.8rem;
    padding: 6px 10px;
}

#pixPolish-history-list li .info {
    display: flex;
    align-items: center;
}

#pixPolish-history-list li .info .material-icons {
    min-width: 30px;
    text-align: center;
    font-size: 18px;
}

#pixPolish-history-list li .info span.time {
    font-size: 0.9rem;
    line-height: 1;
    padding: 4px;
    margin: 0 10px;
    border-radius: 2px;
}

.pixPolish-history-title {
    display: flex;
    justify-content: space-between;
}

.pixPolish-history-title .pixPolish-btn {
    font-size: 0.8rem;
    padding: 6px 10px;
}

.pixPolish-history-count {
    margin: 10px 0 0 0;
    font-style: italic;
    display: block;
    text-align: right;
}

/* ================= MEDIA LIBRARY ================== */

#pixPolish-library-all-menu,
#pixPolish-library-my-menu,
#pixPolish-my-templates-menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    align-items: center;
}

#pixPolish-library-all-menu>div,
#pixPolish-library-my-menu>div,
#pixPolish-my-templates-menu>div {
    display: flex;
}

#pixPolish-all-templates-noimg,
#pixPolish-library-all-noimg,
#pixPolish-library-my-noimg {
    margin: 0;
}

#pixPolish-img-media-library,
#pixPolish-overlay-img-media-library,
#pixPolish-overlay-delete {
    margin-top: 10px;
}

.media-library-grid .pixPolish-img-wrap {
    min-height: 60px;
}

/* ================= SVG LIBRARY ================== */

#pixPolish-svg-library-all-menu,
#pixPolish-svg-library-my-menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    align-items: center;
}

#pixPolish-svg-library-all-menu>div,
#pixPolish-svg-library-my-menu>div {
    display: flex;
}

#pixPolish-svg-library-all-noimg,
#pixPolish-svg-library-my-noimg {
    margin: 0;
}

#pixPolish-svg-media-library {
    margin-top: 10px;
}

#pixPolish-svg-library-all .pixPolish-img-wrap,
#pixPolish-svg-library-my .pixPolish-img-wrap {
    padding: 5px
}

/* ================= MASONRY ================== */

.pixPolish-masonry {
    column-gap: 15px;
    line-height: 0;
    margin: 0;
    padding: 0;
}

.pixPolish-masonry.six-column {
    column-count: 6;
}

.pixPolish-masonry.five-column {
    column-count: 5;
}

.pixPolish-masonry.four-column {
    column-count: 4;
}

.pixPolish-masonry.three-column {
    column-count: 3;
}

.pixPolish-masonry.two-column {
    column-count: 2;
}

.pixPolish-masonry.one-column {
    column-count: 1;
}

.pixPolish-masonry-item {
    position: relative;
    break-inside: avoid;
    margin: 0;
    cursor: pointer;
}

.pixPolish-masonry-item img {
    max-width: 100%;
    width: 100%;
}

.pixPolish-masonry-item .favorite {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    padding: 0 0 4px 4px;
}

.pixPolish-masonry-item:hover .favorite {
    display: block;
}

.pixPolish-masonry-item .favorite .material-icons {
    font-size: 18px
}

.pixPolish-masonry-item-inner {
    position: relative;
    margin-bottom: 15px;
    display: inline-block;
    width: 100%;
}

.grid-item:hover .pixPolish-masonry-item-inner,
.pixPolish-masonry-item-inner:hover {
    border-color: #fff;
}

.pixPolish-masonry-item-desc {
    width: 100%;
    display: none;
    line-height: 1.1;
    padding: 8px 4px 4px 4px;
    font-weight: 700;
    text-align: center;
    font-size: 0.9rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    bottom: 0;
}

.pixPolish-masonry-item-inner:hover .pixPolish-masonry-item-desc {
    display: block;
}

.pixPolish-svg-library-delete,
.pixPolish-library-delete {
    position: absolute;
    top: 7px;
    right: 7px;
    z-index: 9;
    cursor: pointer;
    line-height: 20px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    text-align: center;
}

.pixPolish-svg-library-delete .material-icons,
.pixPolish-library-delete .material-icons {
    font-size: 18px;
    line-height: 20px;
}

input[type="file"] {
    outline: none;
    padding: 4px;
    margin: -4px;
  }
  
  input[type="file"]:focus-within::file-selector-button,
  input[type="file"]:focus::file-selector-button {
    outline: 2px solid #0964b0;
    outline-offset: 2px;
  }
  
  input[type="file"]::before {
    top: 16px;
  }
  
  input[type="file"]::after {
    top: 14px;
  }
  
  /* ------- From Step 2 ------- */
  
  input[type="file"] {
    position: relative;
  }
  
  input[type="file"]::file-selector-button {
    width: 136px;
    color: transparent;
  }
  
  /* Faked label styles and icon */
  input[type="file"]::before {
    position: absolute;
    pointer-events: none;
    /*   top: 11px; */
    left: 40px;
    color: #0964b0;
    content: "Upload File";
  }
  
  input[type="file"]::after {
    position: absolute;
    pointer-events: none;
    /*   top: 10px; */
    left: 16px;
    height: 20px;
    width: 20px;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%230964B0'%3E%3Cpath d='M18 15v3H6v-3H4v3c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-3h-2zM7 9l1.41 1.41L11 7.83V16h2V7.83l2.59 2.58L17 9l-5-5-5 5z'/%3E%3C/svg%3E");
  }
  
  /* ------- From Step 1 ------- */
  
  /* file upload button */
  input[type="file"]::file-selector-button {
    border-radius: 4px;
    padding: 0 16px;
    height: 40px;
    cursor: pointer;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.16);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    margin-right: 16px;
    transition: background-color 200ms;
  }
  
  /* file upload button hover state */
  input[type="file"]::file-selector-button:hover {
    background-color: #f3f4f6;
  }
  
  /* file upload button active state */
  input[type="file"]::file-selector-button:active {
    background-color: #e5e7eb;
  }

/* ================= FRONT-END EDITOR ================== */

#pixPolish.frontend #modal-select-img .pixPolish-btn-set .pixPolish-file-field {
    width: 100%;
}

#pixPolish.frontend .frame-favorite,
#pixPolish.frontend .element-favorite,
#pixPolish.frontend .template-favorite {
    display: none !important;
}

/* ================= MEDIA QUERIES ================== */

@media only screen and (max-width: 1200px) {
    #pixPolish-body {
        padding: 0 0 0 75px !important;
    }
    .pixPolish-content-bar,
    body.layers-closed .pixPolish-content-bar {
        right: 20px;
    }
}

@media only screen and (max-width: 800px) {
    .pixPolish-templates-menu {
        width: 100%;
    }

    .pixPolish-templates-menu-wrap {
        margin-top: 0;
        max-width: 100%;
    }

    .pixPolish-select-btn-block {
        flex-direction: column;
    }

    .pixPolish-select-btn-block>div,
    .pixPolish-select-btn-block>div:first-child,
    .pixPolish-select-btn-block>div:last-child {
        width: 100% !important;
        padding: 0;
        margin: 0;
        border: none
    }

    .pixPolish-select-btn-block>div:last-child {
        margin-top: 10px;
    }
}

@media only screen and (max-width: 575px) {
    html {
        font-size: 13px;
    }

    #pixPolish-body {
        padding: 0 0 0 54px !important;
    }

    .pixPolish-logo img.logo-desktop {
        display: none;
    }

    .pixPolish-logo img.logo-mobile {
        display: block;
    }

    #pixPolish-icon-menu {
        width: 54px
    }

    .pixPolish-icon-menu-title {
        display: none;
    }

    button.pixPolish-icon-menu-btn {
        padding: 15px 0
    }

    #pixPolish-icon-panel {
        width: 315px;
        max-width: 100%;
        padding: 60px 0 0 54px;
    }

    #pixPolish-icon-panel-inner {
        padding: 15px;
    }

    #pixPolish-crop-btns {
        flex-direction: row;
    }

    .pixPolish-control-wrap {
        flex-direction: column;
        align-items: flex-start;
    }

    .pixPolish-control-wrap .pixPolish-control,
    .pixPolish-control-wrap .pixPolish-control-label {
        width: 100%;
        min-width: 100%;
    }

    .pixPolish-control-wrap .pixPolish-control-label {
        margin-bottom: 5px;
    }

    .pixPolish-checkbox-control,
    .pixPolish-toggle-control {
        justify-content: flex-start;
    }

    #pixPolish-toggle-left {
        left: 314px;
    }

    .pixPolish-grid.two-column {
        grid-template-columns: repeat(auto-fill, minmax(min(60px, 100%), 1fr));
    }

    .pixPolish-btn.pixPolish-lg-btn {
        padding: 14px 0px;
    }

    .pixPolish-modal-inner>.pixPolish-tabs>.pixPolish-tabs-menu {
        flex-wrap: nowrap;
    }

    .pixPolish-modal-inner>.pixPolish-tabs>.pixPolish-tabs-menu>li {
        padding: 20px 10px;
        font-size: 1rem
    }

    .pixPolish-modal-inner>.pixPolish-tabs>.pixPolish-tabs-menu>li>.material-icons {
        display: none;
    }

    .pixPolish-modal-inner>.pixPolish-tabs>.pixPolish-tab,
    .pixPolish-modal-bg {
        padding: 20px
    }

    #pixPolish-library-all-menu,
    #pixPolish-library-my-menu,
    #pixPolish-my-templates-menu {
        flex-direction: column;
        align-items: flex-start;
    }

    #pixPolish-library-all-menu>div.pixPolish-search-box,
    #pixPolish-library-my-menu>div.pixPolish-search-box,
    #pixPolish-my-templates-menu>div.pixPolish-search-box {
        width: 100%;
        margin-top: 15px;
    }

    #modal-blank-canvas .pixPolish-control-group {
        flex-direction: column;
        align-items: flex-start;
    }

    .pixPolish-control-group>div {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px
    }

    .pixPolish-control-group>div:last-child {
        margin-bottom: 0
    }

    #modal-blank-canvas .sp-original-input-container {
        width: 100%;
    }

    #pixPolish-canvas-create {
        padding: 12px 0;
        height: auto
    }

    .pixPolish-modal-close {
        top: 10px;
        right: 10px;
    }

    #modal-select-img .pixPolish-btn-set {
        flex-wrap: wrap;
    }

    #modal-select-img .pixPolish-btn-set label,
    #modal-select-img .pixPolish-btn-set button,
    #modal-select-img .pixPolish-btn-set .pixPolish-file-field {
        width: 100%;
        margin: 0;
    }

    #modal-select-img .pixPolish-btn-set label {
        margin-bottom: 10px
    }

    .pixPolish-template-list li {
        align-items: flex-start;
        flex-direction: column;
    }

    .pixPolish-template-list li div {
        width: 100%;
    }

    .pixPolish-template-list li div:last-child {
        margin-top: 10px;
    }

    #pixPolish-top-bar .pixPolish-btn .pixPolish-btn-text {
        display: none;
    }

    #pixPolish-top-bar .pixPolish-btn .material-icons {
        margin: 0;
        font-size: 18px;
    }

    .tooltip:after,
    .tooltip:before {
        display: none;
    }

    .pixPolish-top-bar-menu {
        padding: 0 5px;
    }

    .pixPolish-content-bar,
    body.layers-closed .pixPolish-content-bar {
        right: 0px;
        bottom:0px;
        border-radius: 0;
        padding-left:15px;
        border-right: none !important;
        border-bottom:none !important;
    }
}